/* body {
    background: #83a4d4; /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  /*  background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* } */

input {
    border: 1px solid black;
    padding-bottom: 20px;
}

.calcButtons {
      margin: 5px 5px;
}

.calculator {
    background-color: rgb(197, 211, 226);
    border: 1px solid rgb(22, 15, 15);
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*
*:focus {
    outline: 0 !important;
}

#allClear {
    box-shadow: inset 1px 1px 50px  #990000;
    border: none;
}

#clear {
    box-shadow: inset 1px 1px 50px  #CC6600;
    border: none;
}

#equals{
    box-shadow: inset 1px 1px 50px #006633;
    border: none;
} */

/* Hidden button for formatting sake */
/* #blank {
    visibility: hidden;
} */
